@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: lightgrey;
    font-family: 'Sriracha', cursive;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header > h1 {
    font-family: 'Passion One', cursive;
    font-size: 4.4em;
    font-variant: small-caps;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagens {
    color: white;
}

section.imagens > p {
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.400);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}